// Fonts
$fontPrimary: 'Lato', 'Open sans';
$fontSecondary: 'Merriweather', 'Open sans';

// Font Weights:
$weightHeavy: 800;
$weightMedium: 600;
$weightLight: 400;

// Font colors
$colorFontDark: #292A2E;
$colorFontMedium: #55565A;

// Primary Colors
$colorPrimaryDark: #0b132b;
$colorPrimaryMedium: rgb(114, 129, 145);
$colorPrimaryLight: #97A7B8;


// Accent colors
$colorAccent: #003bde;
$colorAccentHover: #0534B6;
$colorAccentLight: #F1F4FD;
$colorSuccess: #09BC8A;
$colorFailure: #E7415C;
$colorWarning: #FFD453;
$colorArrow: #C4C6CD;

// Gray Colors
$grayBackground: #FAFAFA;
$grayBorder: #e2e2e2;