// Fonts
$fontPrimary: 'Lato', 'Open sans';
$fontSecondary: 'Merriweather', 'Open sans';

// Font Weights:
$weightHeavy: 800;
$weightMedium: 600;
$weightLight: 400;

// Font colors
$colorFontDark: #292A2E;
$colorFontMedium: #55565A;

// Primary colors
$colorTaxJar: #3FAE2A;
$colorTaxJarHover: #348F23;
$colorTaxJarLight: #EBF6E9;
$colorBlue: #1190EE;
$colorBlueLight: #E7F3FD;
$colorBlueDark: #0E76C3;
$colorSuccess: #3FAE2A;
$colorFailure: #AE4646;
$colorFailureLight: #F6ECEC;
$colorWarning: #F39C12;

// Gray Colors
$grayBackground: #FAFAFA;
$grayBorder: #e2e2e2;
$grayButtonBorder: #A2A2A2;